*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 960px;
  margin: 50px auto;
}

.list-item p:nth-child(odd){
  display: inline-block;
  width: 960px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  background-color: lightgray;
}

.list-item p:nth-child(even){
  display: inline-block;
  width: 960px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

main{
  width: 960px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
}

.box-item1{
  width: 30%;
  height: 200px;
  background-color: orange;
  margin-bottom: 40px;
  margin-right: 5%;
}

.box-item2{
  width: 30%;
  height: 200px;
  background-color: yellow;
  margin-bottom: 40px;
  margin-right: 5%;
}

.box-item3{
  width: 30%;
  height: 200px;
  background-color: yellow;
  margin-bottom: 40px;
}

.box-item4{
  width: 30%;
  height: 200px;
  background-color: yellow;
  margin-bottom: 40px;
  margin-right: 5%;
}

.box-item5{
  width: 30%;
  height: 200px;
  background-color: orange;
  margin-bottom: 40px;
  margin-right: 5%;
}

.box-item6{
  width: 30%;
  height: 200px;
  background-color: yellow;
  margin-bottom: 40px;
}

.box-item7{
  width: 30%;
  height: 200px;
  background-color: yellow;
  margin-right: 5%;
}

.box-item8{
  width: 30%;
  height: 200px;
  background-color: yellow;
  margin-right: 5%;
}

.box-item9{
  width: 30%;
  height: 200px;
  background-color: orange;
}
